---
---
<div id="errorModal" class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur-sm z-50">
    <article class="bg-[#020617] flex justify-center border border-red-500/20 rounded-2xl p-8 w-[400px] text-center shadow-[0_0_60px_rgba(0,0,0,0.8)]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="-mt-4 absolute ml-80 size-6 cursor-pointer hover:stroke-[#d3d3d3]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <div class="w-16 h-16 rounded-full bg-[#1c0e17] flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#cc272e" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
        </div>
        <h2 class="text-2xl font-semibold text-white mb-3"></h2>
        <p class="text-slate-400 text-sm mb-6"></p>
    </article>
</div>