---
---

<div id="saveModal" class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur-sm z-50">
    <article class="bg-[#020617] flex justify-center border border-black-500/20 rounded-2xl p-8 w-[400px] text-center shadow-[0_0_60px_rgba(0,0,0,0.8)]">
        <h2>Save Password</h2>
        <p>Enter a name to identify this password</p>
        <label class="block mb-2 text-sm text-slate-400">Name</label>
        <input
          id="inputName"
          type="text" 
          placeholder="e.g., Gmail, Netflix, Bank"
          class="w-full rounded-lg border border-slate-800 bg-[#020617] pl-10 pr-4 py-3 text-sm text-white placeholder:text-slate-500 focus:outline-none focus:ring-2 focus:ring-green-500"
        />
        <button id="cancel" class="hover:bg-[#11151c] justify-center flex bg-[#151b24] items-center rounded-xl gap-2 w-37 h-10 cursor-pointer">Cancel</button>
        <button id='savePass' class="flex hover:bg-[#008349] items-center bg-[#00ae61] rounded-xl gap-2 w-37 h-10 cursor-pointer text-black">Save Password</button>
    </article>
</div>